---
---

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

html {
    // background: linear-gradient(45deg, #3d733f 0%,#9c4227 100%);
}

body {
    font-family: 'consolas', courier, monospace;
    background: url(../assets/images/space-bg-1.jpg), linear-gradient(45deg, #3d733f 0%,#9c4227 100%);
    background-blend-mode: overlay;
    background-size: cover;
}
main {
    padding: 80px 0;
    text-align: center;
}

a {
    color: #868e96;
    transition: color 0.4s;
}

a:hover {
    color: #495057;
}

.header.title {
    font-family: 'consolas', courier, monospace;
    color: #281d0d;
    text-shadow: 2px 0px #ba2805, -2px 0px #7da063;
    font-size: 72px;
}

.contact-link {
    display: block;
    width: 100%;
    height: 100%;
}

.post-list {
    list-style: none;
}
